# Basic security rules
Options -Indexes
RewriteEngine On
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header always set Referrer-Policy "no-referrer-when-downgrade"
Header always set X-Frame-Options "SAMEORIGIN"

# Enable index.html or index.php
DirectoryIndex index.html index.php

# Allow access to files
<FilesMatch "\.(html|php)$">
    Require all granted
</FilesMatch>

# Disable directory listing
Options -Indexes
